$headerBgColor: #504954;
$headerFntColor: #F0F3F1;
$primaryFont: "Poppins",
sans-serif;
$logoFont: 'Noto Sans KR',
sans-serif;

/*delete the default settings*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: $headerBgColor;
    font-family: $primaryFont;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 8vh;
}

.logo {
    &:hover {
        cursor: pointer;
    }
    a {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.logo--name {
    font-family: $logoFont;
    text-transform: uppercase;
    color: $headerFntColor;
    font-size: 25px;
    letter-spacing: 6px;
}

.logo-description {
    text-transform: uppercase;
    color: rgb(247, 183, 183);
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    text-transform: capitalize;
    li {
        list-style-type: none;
        a {
            text-decoration: none;
            font-weight: bold;
            color: $headerFntColor;
            letter-spacing: 3px;
            font-size: 15px;
            &:hover {
                color: #8F9A75;
            }
            &:active {
                color: rgb(151, 192, 54);
            }
        }
    }
}

.menu-icon {
    margin-top: 15px;
    display: none;
    div {
        width: 25px;
        height: 4px;
        margin: 5px;
        background-color: white;
        border-radius: 2px;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 1024px) {
    .nav-list {
        width: 60%;
    }
}

@media screen and (max-width: 720px) {
    body {
        overflow: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        top: 62px;
        height: 92vh;
        background-color: $headerBgColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.9s ease-in;
        li {
            opacity: 0;
        }
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        div {
            background-color: $headerFntColor;
        }
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}